//color cube
$white-color: #ffffff;
$port-gore-color: #1f2154;
$silver-color: #bcbcbc;
$mountain-meadow-color: #1fad96;
$texas-rose-color: #febc4d;
$dove-gray-color: #6c6c6c;
$mandy-color: #e25a6d;
$royal-blue-color: #7355e7;
$thunderbird-color: #cc1b17;
$dodger-blue-color: #1f9efb;

//median cut
$rhino-color: #293259;
$hint-of-red-color: #f6f3f6;
$coral-tree-color: #a65e6d;
$gray-chateau-color: #9da1aa;
$anzac-color: #e2a957;

//material design
$blue-marguerite-color: #6a5ad0;
$shady-lady-color: #9b999b;
$jungle-green-color: #27ab94;
$corduroy-color: #616865;
$ronchi-color: #efb056;